apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    "helm.sh/hook": post-install
    "helm.sh/hook-delete-policy": hook-succeeded
  labels:
    job-name: nextcloud-maintenance-job
  name: nextcloud-maintenance-job
spec:
  backoffLimit: 2
  template:
    metadata:
      labels:
        job-name: nextcloud-maintenance-job
    spec:
      containers:
      - command:
        - /bin/sh
        - -c
        - echo "sleep for 180 seconds..." && sleep 180 && echo "running maintenance" && su -s /bin/bash www-data -c 'php occ maintenance:repair --include-expensive && php occ db:add-missing-indices'
        env:
        - name: NEXTCLOUD_DATA_DIR
          value: /var/www/html/data
        image: nextcloud:{{ .Values.job.nextcloud.maintenance.image }}
        imagePullPolicy: IfNotPresent
        name: nextcloud-maintenance-job
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/www/
          mountPropagation: None
          name: nextcloud-main
          subPath: root
        - mountPath: /var/www/html
          mountPropagation: None
          name: nextcloud-main
          subPath: html
        - mountPath: /var/www/html/data
          mountPropagation: None
          name: nextcloud-main
          subPath: data
        - mountPath: /var/www/html/config
          mountPropagation: None
          name: nextcloud-main
          subPath: config
        - mountPath: /var/www/html/custom_apps
          mountPropagation: None
          name: nextcloud-main
          subPath: custom_apps
        - mountPath: /var/www/tmp
          mountPropagation: None
          name: nextcloud-main
          subPath: tmp
      restartPolicy: Never
      securityContext:
        fsGroup: 33
      terminationGracePeriodSeconds: 30
      volumes:
      - name: nextcloud-main
        persistentVolumeClaim:
          claimName: nextcloud-nextcloud
