apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: backup-default
spec:
  cron: "0 22 * * *"
  task: "backup"
  groups:
  - default
  retain: 7
  concurrency: 2
---
apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: filesystem-trim-default
spec:
  cron: "0 0 * * *"
  task: "filesystem-trim"
  groups:
  - default
  retain: 0
  concurrency: 2
---
apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: snapshot-cleanup-default
spec:
  cron: "0 23 1 * *"
  task: "snapshot-cleanup"
  groups:
  - default
  retain: 0
  concurrency: 2
---
apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: snapshot-delete-default
spec:
  cron: "0 20 * * *"
  task: "snapshot-delete"
  groups:
  - default
  retain: 7
  concurrency: 2
---
apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: system-backup
spec:
  task: system-backup
  cron: '0 21 * * *'
  retain: 7
  parameters:
    volume-backup-policy: if-not-present
