apiVersion: operator.victoriametrics.com/v1beta1
kind: VMScrapeConfig
metadata:
  name: minio-cluster
spec:
  bearerTokenSecret:
    name: minio-bearer-token
    key: token
  path: /minio/v2/metrics/cluster
  scheme: http
  staticConfigs:
    - targets: ['minio.minio.svc.cluster.local:9000']
---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMScrapeConfig
metadata:
  name: minio-resource
spec:
  bearerTokenSecret:
    name: minio-bearer-token
    key: token
  path: /minio/v2/metrics/resource
  scheme: http
  staticConfigs:
    - targets: ['minio.minio.svc.cluster.local:9000']
---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMScrapeConfig
metadata:
  name: minio-bucket
spec:
  bearerTokenSecret:
    name: minio-bearer-token
    key: token
  path: /minio/v2/metrics/bucket
  scheme: http
  staticConfigs:
    - targets: ['minio.minio.svc.cluster.local:9000']
