csi:
  attacherReplicaCount: 2
  provisionerReplicaCount: 2
  resizerReplicaCount: 2
  snapshotterReplicaCount: 2

defaultBackupStore:
  backupTarget: s3://longhorn-backup@eu-east-local/
  backupTargetCredentialSecret: minio

defaultSettings:
  autoCleanupSnapshotAfterOnDemandBackupCompleted: true
  autoCleanupSnapshotWhenDeleteBackup: true
  autoCleanupSystemGeneratedSnapshot: true
  concurrentAutomaticEngineUpgradePerNodeLimit: "1"
  defaultDataPath: "/ext/persistent"
  defaultReplicaCount: "2"
  orphanAutoDeletion: true
  replicaReplenishmentWaitInterval: "0"
  removeSnapshotsDuringFilesystemTrim: true
  storageReservedPercentageForDefaultDisk: "1"
  snapshotMaxCount: "8"

# ingress:
#   enabled: false
#   ingressClassName: cilium
#   host: ''
#   tls: true
#   tlsSecret: longhorn-tls
#   pathType: Prefix
#   annotations:
#     cert-manager.io/cluster-issuer: cloudflare-letsencrypt-production
#     ingress.cilium.io/loadbalancer-mode: shared

longhornUI:
  replicas: 2

# metrics:
#   serviceMonitor:
#     enabled: true

persistence:
  defaultClassReplicaCount: 2
  migratable: false
  reclaimPolicy: Retain
  unmapMarkSnapChainRemoved: enabled

preUpgradeChecker:
  jobEnabled: false
