spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: git@github.com:steled/argocd-apps.git
    targetRevision: HEAD

apprise:
  # renovate: datasource=docker depName=apprise-image packageName=caronc/apprise
  version: "1.3.0"

certmanager:
  # renovate: datasource=github-tags depName=cert-manager-chart packageName=cert-manager/cert-manager
  version: "v1.19.2"

fritzboxCloudflareDyndns:
  # renovate: datasource=github-tags depName=fritzbox-cloudflare-dyndns-chart packageName=steled/fritzbox-cloudflare-dyndns-chart
  version: "0.0.10"

homarr:
  # renovate: datasource=github-tags depName=homarr-chart packageName=homarr-labs/charts
  version: "8.6.0"

homepage:
  # renovate: datasource=helm depName=homepage-chart packageName=homepage registryUrl=https://m0nsterrr.github.io/helm-charts
  version: "4.4.1"

immich:
  postgresql:
    # renovate: datasource=github-tags depName=immich-postgres-chart packageName=bitnami/charts
    version: "17.0.1"
    image:
      # renovate: datasource=docker depName=immich-postgres-image packageName=tensorchord/vchord-postgres
      version: "pg17-v1.0.0"
  image:
    # renovate: datasource=github-tags depName=immich-image packageName=immich-app/immich
    version: "v2.4.0"
  # renovate: datasource=github-tags depName=immich-chart packageName=immich-app/immich-charts
  version: "0.10.3"

jdownloader2:
  image:
    # renovate: datasource=docker depName=jdownloader2-image packageName=jlesage/jdownloader-2
    version: "v25.12.1"
  # renovate: datasource=github-tags depName=jdownloader2-chart packageName=pmoscode-helm/jdownloader2
  version: "1.7.0"

jellyfin:
  # renovate: datasource=github-tags depName=jellyfin-chart packageName=jellyfin/jellyfin-helm
  version: "2.7.0"

longhorn:
  # renovate: datasource=github-tags depName=longhorn-chart packageName=longhorn/longhorn
  version: "1.10.1"

minio:
  # renovate: datasource=helm depName=minio-chart packageName=minio registryUrl=https://charts.min.io/
  version: "5.4.0"

nextcloud:
  fpm:
    # renovate: datasource=docker depName=nextcloud-fpm-image packageName=nextcloud
    version: "32.0.3-fpm"
  # renovate: datasource=github-tags depName=nextcloud-chart packageName=nextcloud/helm
  version: "8.7.0"

prometheusOperatorCrds:
  # renovate: datasource=github-tags depName=prometheus-operator-crds-chart packageName=prometheus-community/helm-charts
  version: "25.0.1"

sealedSecrets:
  # renovate: datasource=github-tags depName=sealed-secrets-chart packageName=bitnami-labs/sealed-secrets
  version: "2.18.0"

sftpServer:
  image:
    # renovate: datasource=docker depName=sftp-server-image packageName=atmoz/sftp
    version: "alpine@sha256:5ad837cd01d03085c799249389cc17f7d72dd2ece2c4b525d545fb994e96fdca"
  # renovate: datasource=github-tags depName=sftp-server-chart packageName=sj14/helm-charts
  version: "0.8.1"

vault:
  # renovate: datasource=github-tags depName=hashicorp-vault-chart packageName=hashicorp/vault-helm
  version: "0.31.0"

victoriametrics:
  metricsProxy:
    image:
      # renovate: datasource=docker depName=metricsProxy-image packageName=haproxy
      version: "3.3.0-alpine"
  # renovate: datasource=github-tags depName=victoriametrics-chart packageName=VictoriaMetrics/helm-charts
  version: "0.66.0"

victoriametricsOperator:
  # renovate: datasource=github-tags depName=victoriametrics-operator-chart packageName=VictoriaMetrics/helm-charts
  version: "0.49.2"
