cr:
  create: true
  namespace: istio-system
  spec:
    auth:
      strategy: anonymous
    external_services:
      prometheus:
        url: "http://vmsingle-victoria-metrics-k8s-stack.victoriametrics.svc.cluster.local:8428"
